html {
  height: 100%;
}
  

body {
    margin: 0;
    position: relative;
    height: 100%;
}

/* NAV BOX */

.nav-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  height: 100px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

ul {
  display: flex;
  text-align: center;
  margin: auto;
  line-height: 20px;
  height: 20px;
  padding: 0;
}

li {
  flex: 0 0 auto;
  list-style: none;
  padding-top: 42px;
}

a {
  border-right: 1px solid #cccccc;
  color: #666666;
  text-decoration: none;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding-right: 20px;
  padding-left: 20px;
}

#contact{
  padding-right: 0;
  border-right: none;
}

li:nth-child(1) {
  margin-right: auto;
  margin-left: 0;
  height: 100px;
  background: #4aaaa5;
  color: white;
  font-size: 30px;
  font-weight: 600;
  width: 140px;
  padding: 0;
  line-height: 100px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/* MAIN BODY BOX */

#outer-container {
  background: url(../images/bodybg.png);
  border-top: 2px solid #dddddd;
  height: 100%;
}

.container {
  width: 960px;
  margin: 30px auto;
  height: 500px;
  background: white;
}

#container-inside {
  max-width: 960px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 24px;
  margin-left: 24px;
  background: white;
  height: 75%;
}

.profile {
  display: flex;
  clear: both;
  padding-top: 3%;
  padding-bottom: 2%;
}

#Bio {
  margin: 0;
  width: 800px;
  padding-left: 18px;
  padding-right: 18px;
  line-height: 30px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #666666;
}

#about, #contact-header {
  float: left;
  width: 100%;
  height: 100px;
  text-align: justify;
  color: #4aaaa5;
  padding-left: 0;
  justify-content: center;
  border-bottom: 2px solid #dddddd;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 100px;
}

#contact-header {
  margin-bottom: 20px;
}

#copyright {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 40px;
  color: white;
  background: #666666;
  border-top: 8px solid #4aaaa5;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.info {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #666666;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 160px;
}

input[type=submit] {
  height: 35px;
  width: 120px;
  color: white;
  background: #4aaaa5;
  border: none;
}

.form {
  padding-top: 30px;
}

.container-port {
  height: 850px;
}

.port-img {
  display: block;
  float: left;
  width: 30.33%;
  height: 200px;
  margin: auto;
  padding: 1.5%;
}